@import './reset.css';
@import './mint.css';

html, body {
    background-color: #303030;
    color: #FFFFFF;
}

#app {
    min-height: 100vh;
}

.navbar {
    padding: 20px;
    text-align: right;
}

.router-content {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.clear-link {
    text-decoration: none;
}

.heading {
    text-align: center;
    padding: 10px;
}

.nft-list {
    height: 100%;
    width: 100%;
}

.nft-container {
    width: 100%;
    text-align: center;
}

.nft-item {
    display: inline-block;
    text-align: left;
}

.image-container {
    height: 300px;
}

.description-block {
    width: 100%;
    margin: 10px 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.transfer-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.matches-list {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.lohotrone {
    max-width: 200px;
    margin: 0 auto;
}

.lot {
    max-width: 250px;
    margin: 30px auto;
    border-radius: 5px;
}