.mint {
    margin-top: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.input-nft {
    margin: 15px 0;
    width: 100%;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-list {
    width: 100%;
    display: inline-block;
    margin: 10px 0;
}

.chip + .chip {
    margin-left: 5px;
}
